
<div class="title_container">
  <h1>
    <div class="first"><br>W</br><br>A</br><br>Y</br><br>F</br><br>A</br><br>R</br><br>I</br><br>N</br><br>G</br></div>
    <div class="first"><br>T</br><br id="W">W</br><br>E</br><br>E</br><br>T</br><br>S</br></div>
  </h1>
</div>

<% if !signed_in? %>
<div class="navigation">
  <!--TODO: fix text centering for below two buttons-->
  <%= button_to "sign in", signin_path, class: "button sign_in", method: :get %>
  <%= button_to "sign up", signup_path, class: "button sign_up", method: :get %>
</div>
<% end %>

<div id="map"></div>
<%= requirejs_include_tag %>

<script>
  require.config({urlArgs: 'bust='+Date.now()});
  require(['roadtweets/main']);
  var leafletApiKey = "<%= ENV['LEAFLET_API_KEY'] %>"
</script>

<div class="search-container">
<%= form_tag({:controller=>"tweets", :action=>"index"}, id: 'search_form', method: :get) do %>
  <%= text_field_tag :search_term %>
  <%= submit_tag 'search for a hashtag', class: 'button search_submit', name: nil %>
<% end %>
</div>


